<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSys - {% block title %}Index{% endblock %}</title>
    <link rel="stylesheet" href="websystems.css">
</head>
<body>
    <input type="checkbox" id="colourInput">
    <div id="container">
        <div id="bg"></div>
        <header>
            <span>
                <a class="headerBtn" href="index.html">Home</a>
                <a class="headerBtn" href="past.html">Past</a>
                <a class="headerBtn" href="future.html">Future</a>
                <a class="headerBtn" href="comments.html">Comments</a>
            </span>
            <span>
                <label for="colourInput" id="colourBtn" class="headerBtn">Dark Mode</label>
            </span=>
        </header>
        {% block content %}
        <p>base content!</p>
        {% endblock %}
        <br>
        <footer><sub><pre>       Copyright © Your mum Inc.</pre></sub></footer>
    </div>
</body>
</html>