{% extends "base.jinja" %}

{% block title %}Comments{% endblock %}

{% block content %}
<div id="content">
    <h1 class="pageHeading">Comments</h1>
    <p>problems with making the page</p>
    <table>
        <tr>
            <th>Problem</th>
            <th>Solution</th>
        </tr>
        <tr>
            <td>The Span that holds the navigation header buttons was not being the correct height</td>
            <td>Change the min-height property to be fit-content</td>
        </tr>
        <tr>
            <td>Dark Mode without javascript</td>
            <td>Used an invisible checkbox input and the :checked css psudo-specifier to set colour variables that the rest of the page uses.</td>
        </tr>
        <tr>
            <td>Adding a hover effect to the clock on the past page</td>
            <td>Using a drop-shadow css property put a box around the whole rectangle, instead used filter: drop-shadow</td>
        </tr>
        <tr>
            <td>Stressin</td>
            <td>Chilled out</td>
        </tr>
    </table>
</div>
{% endblock %}
