{% extends "base.jinja" %}

{% block title %}Comments{% endblock %}

{% block content %}
    problems with making the page
    <ul>
        <li>header height would not behave - forgot what fixed it</li>
        <li>couldnt get dark mode to save across pages without js</li>
        <li>getting the background to work</li>
    </ul>
{% endblock %}
