{% extends "base.jinja" %}

{% block title %}Future{% endblock %}

{% block content %}
        <div id="content">
            <h1 class="pageHeading">Future</h1>
            <h3>What you want to do with computing in the future</h3>
            <p>In the future I would like to become amish and take up wood working.</p>
            <h3>Table</h3>
            <p>Sometimes remembering how multiplying works is confusing so I have created this helpful table to help out.</p>
            <div class="centerChildren">
                <table>
                    <tr>
                        <th>x</th>
                        <th>0</th>
                        <th>1</th>
                        <th>2</th>
                    </tr>
                    <tr>
                        <th>0</th>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th>1</th>
                        <td>0</td>
                        <td>1</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td>0</td>
                        <td>2</td>
                        <td>4</td>
                    </tr>
                </table> 
            </div>
        </div>
{% endblock %}
