<input type="checkbox" id="colourInput">
    <div id="container">
        <div id="bg"></div>
        <header>
            <span id="headerSpan">
                <a class="btn" href="index.html">Home</a>
                <a class="btn" href="past.html">Past</a>
                <a class="btn" href="future.html">Future</a>
                <a class="btn" href="comments.html">Comments</a>
            </span>
            <span id="headerSpan">
                <label for="colourInput" id="colourBtn" class="btn">click me</label>
            </span>
        </header>
    </div>