{% extends "base.jinja" %}

{% block title %}Index{% endblock %}
{% block titleDisplay %}Index{% endblock %}

{% block content %}
        <div id="heroDiv">
            <h1>Home Page</h1>
        </div>
        <div id="content">
            <p>
                This is a website created for the websystems class. This is the index page
            </p>
            <h3>About me</h3>
            <p>Some facts about me are:</p>
            <ol>
                <li>Undefeated 2 time world champion at chilling</li>
                <li>8x Olymic Gold medal for kicking back</li>
                <li>World number 1 in dope-ness and overall </li>

            </ol>
        </div>
{% endblock %}