{% extends "base.jinja" %}

{% block title %}Past{% endblock %}

{% block content %}
        <div id="content">
            <br>
            <div class="centerDiv">
                <img class="heroImg" src="past.svg">
            </div>
            <h2>Past Experiences</h2>
            <p>yes</p>
            <br>
            <h3>Another Header!</h3>
            <p>
                In the past I was younger than I am now, that is no longer the case.
            </p>
            There is a <code>time</code> tag in html: <em><time>6:07pm</time></em> which doesn't really do anything,
            you can also use the &lt;input&gt; tag to get date and datetime inputs
            <input class="underscored" type="time">
            <input class="underscored" type="datetime-local">
        </div>
{% endblock %}