{% extends "base.jinja" %}

{% block title %}Past{% endblock %}

{% block content %}
        <div id="content">
            <br>
            <div class="centerDiv">
                <img class="heroImg" src="past.svg" alt="Image of a clock">
            </div>
            <h1 class="pageHeading">Past Experiences</h1>
            <h3>Past experiences</h3>
            <p>probably, don't really remember.</p>
            <br>
            <h3>Another Header!</h3>
            <p>In the past I was younger than I am now, that is no longer the case.</p>
        </div>
{% endblock %}