

body > input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

#container {
    position: relative;
    color: black;
    transition: color 0.1s;
    margin: 0px;
    padding-bottom: 2em;
    min-height: 95vh;
}

body{
    margin: 0px;
    font-family: serif;
}

#bg{
    background-color: #fff8f4;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: background-color 0.1s;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 0px;
    margin: 0;
    z-index: 0;
    background-color: #fff8f4;
    border-bottom: 1px solid #bbbbbb;
}

/* TODO: fix wrapping on header */

header > span {
    display: flex;
    align-items: center;
}

.headerBtn {
    padding: 1em;
    background-color: #fff8f4;
    color: black;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    transition: background-colour 0.1s, color 0.1s;
    font-weight: bold;
}

.headerBtn:hover{
    background-color: rgb(241, 157, 0);
    color: #fff8f4;
}

#colourBtn {
    transition: background-color 0.1s;
    color: rgb(241, 157, 0);
}

#colourBtn:hover {
    background-color: #bbbbbb;
}


#content {
    padding-left: 20vw;
    padding-right: 20vw;
    margin-top: 0px;

    background-color: #fff8f4;
    background-clip: border-box;

}

#heroDiv {
    /* width: 100vw; */
    height: 50vh;
    align-items: center;
    background: linear-gradient(45deg, #fe1 0%, #f3d 100%);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 400%;
    z-index: 1;
}

.pageHeading {
    padding-bottom: 5px;;
    border-bottom: 5px solid rgb(241, 157, 0);
    width: max-content;
}

kbd{
    border-radius: 3px;
    padding: 1px 2px 0;
    border: 1px solid gray;
}

.heroImg {
    margin-left: 15vw;
    margin-right: 15vw;
    width: 30vw;
    transition: filter 1s, top 1s, left 1s;
    position: relative;
    top: 0px;
    left: 0px;
}

.heroImg:hover {
    filter: drop-shadow(1vw 1vw 1px rgb(241, 157, 0));
    top: -0.5vw;
    left: -0.5vw;
}

.hidden {
    opacity: 0%;
    width: 30vw;
}

.underscored {
    border: 1px solid #bbbbbb;
    border-radius: 3px;
    border-bottom: 5px solid rgb(241, 157, 0)
}

table {
    width: 40vw;
    height: 20vw;
}

td, th, table {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
}

tr:nth-child(1) {
    background-color: #fff8f4;
}

.centerChildren {
    display: flex;
    justify-content: center;
    width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footerItem {
    text-decoration: none;
    color: #bbbbbb;
    transition: color 1s;
    font-size: smaller;
    padding: 1em;
    padding-top: 2em;
    vertical-align: sub;
}

.footerItem:hover {
    color: black;
    cursor: pointer;
}
