
:root{
    --fadeTime: 0.1s;
}

body > input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

input + #container{
    --backgroundColour: #fff7f0;
    --lightBackgroundColour: #ccc5c0;
    --textColour: black;
    --fadeTextColour: #bbbbbb;
    --featureColour1: fuchsia;
    --featureColour2: orange;
}

input:checked + #container{
    --backgroundColour: #122030;
    --lightBackgroundColour: #223344;
    --textColour: white;
    --fadeTextColour: #334455;
    --featureColour1: fuchsia;
    --featureColour2: purple;
}

#container {
    color: var(--textColour);
    transition: color var(--fadeTime);
    margin: 0px;
}

body{
    overflow: hidden;
    margin: 0px;
    font-family: serif;
}

#bg{
    background-color: var(--backgroundColour);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: background-color var(--fadeTime);
    /* super blurred low res image as background? */
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid var(--textColour);
    border-top: 0px;
    height: 2.7em;
    margin: 0;
    z-index: 0;
}

/* TODO: fix wrapping on header */

#linksSpan {
    display: flex;
    flex-direction: row;
}

#headerSpan > * {
    position: relative;
    padding: 1em;
    height: 50px;
    padding-top: 15px;
    border: solid 1px var(--textColour);
    top: 0.5em;
    transition: top var(--fadeTime);
    z-index: 1;
    background-color: var(--backgroundColour);
    text-decoration: none;
    color: var(--textColour);
}

#headerSpan > *:hover{
    top: 0.8em;
}

#colourChangeBtn {
    padding: 10px;
}

#colourBtn {
    transition: background-color var(--fadeTime);
}

#colourBtn:hover {
    background-color: var(--fadeTextColour);
}

.btn {
    user-select: none;
    cursor: pointer;
}

.btn {
    user-select: none;
    cursor: pointer;
}